<%- include('partials/header'); -%>

<h1><%= startingContent.title %></h1>
<p><%= startingContent.content %></p>

<% posts.forEach( x => {%>
  <h1><%= x.title %></h1>
  <p><%= x.content %></p>
<%});%>

<%- include('partials/footer'); -%>
